<a href="https://colab.research.google.com/github/heegeunyoon/python101/blob/main/1_3_pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형: 데이터프레임

1. 넘파이 2차원 리스트/어레이를 입력변수로 하여 생성
2. 칼럼이름과 1차원 리스트/어레이으로 구성된 딕셔너리를 입력변수로 하여 생성

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]])

In [ ]:
df

In [ ]:
type(df)

In [ ]:
type(df)==pd.DataFrame

In [ ]:
df.set_index(0)

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]])

In [ ]:
df

In [ ]:
df.columns = ['KOR', 'USA']

In [ ]:
df.index = [17, 18, 19]

In [ ]:
df

In [ ]:
df = pd.DataFrame({'a':[1, 2], 'b':[3, 4]})

In [ ]:
df

- 데이터프레임 통계량

In [ ]:
df.mean()

In [ ]:
df.mean().to_frame('mean')

In [ ]:
df.apply(['mean', 'median', 'sum', 'std'])  # prod

## 슬라이스

In [ ]:
df

In [ ]:
df.loc[18:, :]

In [ ]:
df.loc[17, :]

In [ ]:
df.loc[[17]]

In [ ]:
df = df.loc[18:, :].copy()

- 값 지정

In [ ]:
df

In [ ]:
df.loc[18, 'KOR'] = 0

In [ ]:
df

In [ ]:
df.loc[:, 'USA'] = 1

In [ ]:
df

In [ ]:
df.loc[:, :] = [[1, 2], [3, 4]]

In [ ]:
df

In [ ]:
df = [[1, 2], [3, 4]]

In [ ]:
df

## 멀티인덱스

In [ ]:
df = pd.DataFrame({'country':['USA', 'KOR', 'USA', 'KOR'],
                   'pop':[1, 2, 3, 4],
                   'gdp':[3, 4, 5, 6]},
                  index = [16, 16, 17, 17])

In [ ]:
df

In [ ]:
df = df.set_index('country', append=True)

In [ ]:
df

In [ ]:
from pandas import MultiIndex as MI

In [ ]:
df.index = MI.from_product([['16', '17'], ['미국', '한국']])

In [ ]:
df

In [ ]:
df.index = [':'.join(c).strip() for c in df.index.values]

In [ ]:
df

In [ ]:
df.index.str.split(':').tolist()

라벨이 주어진 형태에 따라 멀티인덱스 생성 함수를 선택


```
- from_tuples() : [['16', '미국'], ['16', '한국'], ['17', '미국'], ['17', '한국']]
- from_product() : [['16', '17'], ['미국', '한국']]
- from_arrays() : [['16', '16', '17', '17'], ['미국', '미국', '한국', '한국']]
```

In [ ]:
df.index = MI.from_tuples(df.index.str.split(':').tolist())

In [ ]:
df

IndexSlice: 다양한 층위에서 데이터 선택

In [ ]:
df = pd.DataFrame({'country':['USA', 'KOR', 'USA', 'KOR'],
                   'pop':[1, 2, 3, 4],
                   'gdp':[3, 4, 5, 6]},
                  index = [16, 16, 17, 17])

In [ ]:
df = df.set_index('country', append=True)

In [ ]:
idx = pd.IndexSlice

In [ ]:
df.loc[idx[:, 'USA'], :]

In [ ]:
df.loc[idx[16, 'USA'], :]

In [ ]:
df = pd.DataFrame({'country':['USA', 'KOR', 'USA', 'KOR'],
                   'pop':[1, 2, 3, 4],
                   'gdp':[3, 4, 5, 6]},
                  index = [16, 16, 17, 17])

In [ ]:
df

In [ ]:
df.loc[df['pop'].ge(3)]

In [ ]:
df

In [ ]:
df.loc[df.country.isin(['USA', 'JPN'])]

- droplevels
- get_level_values
- reorder_levels

In [ ]:
df

In [ ]:
df = df.set_index('country', append=True)

In [ ]:
df.index.names = ['yr', 'country']

In [ ]:
df

In [ ]:
df.index.get_level_values(0).unique()

In [ ]:
df.index.get_level_values(1).unique()

In [ ]:
df = df.loc[idx[:, 'USA'], :]

In [ ]:
df

In [ ]:
df.index = df.index.droplevel(level = 1)

In [ ]:
df

## 연습문제

1.  연도(2017~2020), 국가별(kr, us, jp) 경제성장률과 물가상승률 데이터프레임을 생성하시오
    - 인덱스 첫번째 레벨은 연도, 두번째 레벨은 국가명, 칼럼 라벨은 [gdp, inf]
    - 경제성장률과 물가상승률은 넘파이 랜덤표본 이용

3.  2018년 이후 국가별 경제성장률과 물가상승률을 보이시오

# 연산

In [ ]:
# 데이터프레임을 병렬로 표시하기 위한 함수 정의
from IPython.display import display_html
def display_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [ ]:
df = pd.DataFrame({'KOR':[1, 3], 'USA':[2, 4]})

In [ ]:
df1 = df + 10

In [ ]:
df1.columns = ['USA', 'CHN']

In [ ]:
display_by_side(df1, df + df1)

In [ ]:
display(df, df.T)

In [ ]:
df.dot(df.T)

In [ ]:
df.T.dot(df)

In [ ]:
df.dot(df)

In [ ]:
df1 = pd.DataFrame({'USA':[1, 3], 'CHN':[2, 4]})
df2 = pd.DataFrame({'JPN':[2, 4], 'KOR':[6, 8]})

In [ ]:
display(df1, df2)

In [ ]:
pd.concat([df1, df2], axis = 1)

In [ ]:
pd.concat([df1, df2], axis = 0)

## merge, concat

In [ ]:
print(df1)
print(df2)

In [ ]:
df2.columns = ['CHN', 'KOR']

In [ ]:
print(df1)
print('')
print(df2)

In [ ]:
df1.merge(df2, on = 'CHN', how = 'left')

## add, sub, mul, div

In [ ]:
df

In [ ]:
print(df.sum(axis=0))
print('')
print(df.sum(axis=1))

In [ ]:
df['Total']

In [ ]:
df['Total'] = df.sum(axis = 1)
df

In [ ]:
df.div(df.Total, axis = 0)

In [ ]:
df.div(df.Total, axis = 1)

## cut, qcut

- 숫자 데이터를 범주형 데이터로 변환

In [ ]:
from numpy.random import randint
df = pd.DataFrame({'a':range(4), 'b':randint(1,10,4)})
df

In [ ]:
pd.cut(df.b, [0, 5, 10])

In [ ]:
df.loc[:, 'c'] = pd.cut(df.b, [0, 5, 10], labels=False)

In [ ]:
df

In [ ]:
pd.qcut(df.b, 2)

## groupby

In [ ]:
df = pd.DataFrame({'country':['USA', 'KOR', 'USA', 'KOR'],
                   'pop':[1, 2, 3, 4],
                   'gdp':[3, 4, 5, 6]},
                  index = [16, 16, 17, 17])

In [ ]:
df

In [ ]:
df.groupby('country').mean()

In [ ]:
df = df[['pop', 'gdp']]

In [ ]:
df.groupby(pd.cut(df['pop'], [0, 2, 4]))['gdp'].mean()

## lambda 함수

In [ ]:
def cal_square(x):
  return x**2

In [ ]:
square = lambda x: x * x

In [ ]:
square(2)

In [ ]:
cal_square(2)

## apply/applymap/map

In [ ]:
df = pd.DataFrame({'country':['USA', 'KOR', 'USA', 'KOR'],
                   'pop':[1, 2, 3, 4],
                   'gdp':[3, 4, 5, 6]},
                  index = [16, 16, 17, 17])

In [ ]:
df[['pop', 'gdp']].apply(lambda x: x+100)

In [ ]:
df[['pop', 'gdp']].apply(lambda x: x.div(x.sum()))

In [ ]:
df[['pop', 'gdp']].apply(lambda x: x.div(x.sum()))

In [ ]:
df = df[['pop', 'gdp']].apply(lambda x: x.div(x.sum()))
df.applymap(lambda x: '{:,.2f}'.format(x))

## stack/unstack

In [ ]:
df = pd.DataFrame({'country':['USA', 'KOR', 'USA', 'KOR'],
                   'pop':[1, 2, 3, 4],
                   'gdp':[3, 4, 5, 6]},
                  index = [16, 16, 17, 17])

df = df.set_index('country', append=True)

In [ ]:
df.unstack(level = 1)

## 연습문제

1.  앞에서 계산한 연도(2017~2020), 국가별(kr, us, jp) 경제성장률과 물가상승률 데이터프레임을 이용하여
    - 2018년 이후 국가별 평균 경제성장률과 물가상승률을 계산하라
    - 2018년 이후 한국과 미국의 연도별 평균경제성장률을 계산하라

2.  같은 방식으로 중국(cn)의 경제성장률과 물가상승률 데이터프레임을 생성하여 결합하라

3.  4개 국가 평균 경제성장률이 0보다 큰 연도를 찾아라

# 시계열

In [ ]:
a = np.random.randint(1, 20, 24)
print(a)
print(np.shape(a))

print(a.reshape(12, 2))
print(np.shape(a.reshape(12, 2)))

In [ ]:
pd.DataFrame(np.random.randint(1, 20, 24).reshape(12, 2), columns=['con', 'gdp'])

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.randint(1, 20, 24).reshape(12, 2), columns=['con', 'gdp'])

In [ ]:
df

In [ ]:
df.index = pd.date_range('2017-3-31', '2019-12-31', freq='Q')

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 1, figsize=[12, 8])
ax.plot(df['gdp'])
plt.show()

In [ ]:
type(df.index)

## resample

In [ ]:
df.resample('A').sum()

In [ ]:
df.resample('A').last()

In [ ]:
df.resample('A').mean()

In [ ]:
df.resample('A').agg({'con': 'mean', 'gdp': 'sum'})

## simple graph

In [ ]:
df.plot()

In [ ]:
df.plot.bar()

In [ ]:
df.resample('M').interpolate(method='cubic').plot()
# ‘nearest’, ‘zero’, ‘slinear’, ‘quadratic’, ‘cubic’, ‘spline’, ‘barycentric’, ‘polynomial’

In [ ]:
df.plot()
# ‘nearest’, ‘zero’, ‘slinear’, ‘quadratic’, ‘cubic’, ‘spline’, ‘barycentric’, ‘polynomial’

In [ ]:
df = pd.DataFrame({'value':[2, 4, 5, 6], 'date':['20201201', '2019-9-1', '1 jul 2018', '2017q1']})

In [ ]:
df

In [ ]:
df.date = pd.to_datetime(df.date)

In [ ]:
df

In [ ]:
df = df.set_index('date')

In [ ]:
df

- 전기 대비 증가율, 차분 등 함수를 원래 의도대로 적용하기 위해서는 데이터프레임의 데이트타임인덱스가 빠짐없이 순서대로 정렬되어야 함
- date_range()로 전체 샘플기간에 대한 데이터타임인덱스를 생성한 후 데이터프레임의 reindex(index)를 이용하여 적용

In [ ]:
df.pct_change()

## offsets

In [ ]:
from pandas.tseries.offsets import YearEnd, YearBegin, QuarterEnd, QuarterBegin

In [ ]:
df.index = df.index + YearEnd()
df

In [ ]:
df = pd.DataFrame({'value':[2, 4, 5, 6], 'date':['20201201', '2019-9-1', '1 jul 2018', '2017q1']})
df.date = pd.to_datetime(df.date)
df = df.set_index('date')

In [ ]:
df.index = df.index + QuarterEnd()
df

데이트타임에서 연도, 분기, 월 추출

In [ ]:
df = pd.DataFrame({'value':[2, 4, 5, 6], 'date':['20201201', '2019-9-1', '1 jul 2018', '2017q1']})
df.date = pd.to_datetime(df.date)

In [ ]:
df

In [ ]:
df['month'] = df.date.dt.month

In [ ]:
df

In [ ]:
df['day'] = df.date.dt.day

In [ ]:
df

# save/read

In [ ]:
pwd

In [ ]:
import os
os.mkdir('pickles')

## to_pickle()

- python에서 매우 효율적임

In [ ]:
ls

In [ ]:
df.to_pickle('pickles/df.pkl')

In [ ]:
ls pickles/

In [ ]:
df1 = pd.read_pickle('pickles/df.pkl')

In [ ]:
df1

## to_csv()

In [ ]:
df.to_csv('df.csv')
df_csv = pd.read_csv('df.csv', index_col=0)

## to_stata()

In [ ]:
df1.to_stata('df.dta')
df1_dta = pd.read_stata('df.dta')

## to_excel()

In [ ]:
writer = pd.ExcelWriter('dfs.xlsx')
df.to_excel(writer,'df')
df1.to_excel(writer,'df1')
df2.to_excel(writer,'df2')
writer.save()

## save multiple dataframes

In [ ]:
dfs = {'df': df, 'df1': df1, 'df2': df2}

In [ ]:
import pickle

In [ ]:
with open('dfs.pkl', 'wb') as handle:
    pickle.dump(dfs, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('dfs.pkl', 'rb') as handle:
    dfs_pkl = pickle.load(handle)

# matplotlib

In [ ]:
%matplotlib inline

In [ ]:
df = pd.DataFrame([0, 1, 2, 3, 4, 4], columns = ['y'])
df.plot()

In [ ]:
# %matplotlib notebook

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 2, figsize=(12, 4))

df.plot(ax=ax[0])
df.loc[2:].plot(ax=ax[1])
ax[1].legend(loc=4, fontsize=18)
ax[0].set_title('ax1')
fig.suptitle('graph', fontsize=18);

## x, y-axis

In [ ]:
from matplotlib.ticker import FuncFormatter as FF

fig, ax = plt.subplots(1, 2, figsize=(12, 4))

df.plot(ax=ax[0])
df.loc[2:].plot(ax=ax[1])
ax[1].legend(loc=4, fontsize=18)
ax[0].set_title('ax1')
fig.suptitle('graph', fontsize=18);

dp2 = lambda x, p: '{:,.2f}'.format(x)
dp0 = lambda x, p: '{:,.0f}'.format(x)
ax[1].yaxis.set_major_formatter(FF(dp2))
ax[1].xaxis.set_major_formatter(FF(dp0))

In [ ]:
df['x'] = df['y'] * 2

fig, ax = plt.subplots(1, 3, figsize=(12, 4))

df.plot.bar(ax=ax[0])
df.plot.bar(stacked=True, ax=ax[1])
df.plot.scatter(x='x', y='y', ax=ax[2])

## bar chart

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1, 20, 24).reshape(12, 2), columns=['con', 'gdp'],
                  index = pd.date_range('2017-3-31', '2019-12-31', freq='Q'))

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 1)

df.plot.bar(ax=ax)

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 1)

df.plot.bar(ax=ax)

ticklabels = [pd.to_datetime(t.get_text()).strftime('%b\n%y') for t in ax.get_xticklabels()]
ax.set_xticklabels(ticklabels, rotation=0);

In [ ]:
def xaxis_date_format(ax, fmt = '%y'):
    '''fmt: '%b\n%y', '%y-%m-%d', etc '''
    ticklabels = [pd.to_datetime(t.get_text()).strftime(fmt) for t in ax.get_xticklabels()]
    ax.set_xticklabels(ticklabels, rotation=0)

## 한글

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(100).cumsum(), columns=['환율'])
df.plot()

현재 matplotlib가 사용할 수 있는 한글폰트 확인

In [ ]:
import matplotlib.font_manager as fm
[f for f in fm.fontManager.ttflist if 'Nanum' in f.name]

나눔글꼴 설치(리눅스)

In [1]:
!dpkg -s fonts-nanum > /dev/null 2>&1 || apt-get install -qq fonts-nanum

Selecting previously unselected package fonts-nanum.
(Reading database ... 126281 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...

matplotlib가 사용할 수 있는 폰트 리스트를 재구성하고, 코랩 재시작

In [ ]:
import os

fm._rebuild()
os.kill(os.getpid(), 9)

현재 matplotlib가 사용할 수 있는 한글폰트 확인

In [ ]:
import matplotlib.font_manager as fm
[f for f in fm.fontManager.ttflist if 'Nanum' in f.name]

matplotlib에서 사용하려는 한글 폰트 지정하고, 그래프의 마이너스 라벨이 제대로 표시되도록 설정

In [ ]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumGothic')
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(100).cumsum(), columns=['환율'])
df.plot()

# 연습문제

1. 성인 500명에 대한 키(cm)와 몸무게(kg) 데이터를 아래 관계에 따라 데이터프레임으로 생성하시오

$height \sim norm(170, 15)$

$weight = (height - 100)^{1.2} + u$, $u \sim norm(0, 5)$

2. 키와 몸무게 각각에 대한 히스토그램(5 kg/cm 구간)을 subplots을 이용하여 그리시오

3. 키 180cm 이상 및 이하로 그룹을 나누어 키와 몸무게의 산포도를 그리시오

In [5]:
!pip show countryinfo > /dev/null 2>&1 || pip install countryinfo
!pip show pycountry > /dev/null 2>&1 || pip install pycountry

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 44.4 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

In [ ]:
import pycountry
from countryinfo import CountryInfo

In [ ]:
country_names = [country.name for country in pycountry.countries]

[i for i in country_names if 'Korea' in i]

In [ ]:
country_dict = {}

for country in pycountry.countries:
  try:
    if country.name == 'Korea, Republic of':
      country.name = 'South Korea'
    elif country.name == "Korea, Democratic People's Republic of":
      country.name = 'North Korea'

    country_info = CountryInfo(country.name)
    info = {
        'name': country.name,
        'continent': country_info.region(),
        'capital': country_info.capital(),
        'currency': country_info.currencies(),
        'language': country_info.languages(),
        'borders': country_info.borders()
    }
    country_dict[country.alpha_3] = info

  except KeyError:
    print('country name error: ', country.name)
    continue

In [ ]:
print(country_dict['KOR'])
print(country_dict['PRK'])

In [ ]:
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib.pyplot as plt

plt.rc('font', family = 'NanumBarunGothic')

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(100).cumsum(), columns=['환율'])
df.plot()